*
!.gitkeep
!alerts/
!cache/
!reports/
!tickets/
!operator/

alerts/*
!alerts/.gitkeep

cache/*
!cache/.gitkeep

reports/*
!reports/.gitkeep

tickets/*
!tickets/.gitkeep

operator/*
!operator/.gitkeep
