MetaTrader5==5.0.5640
pandas==3.0.1
numpy>=2.4.2
scikit-learn>=1.8.0
duckdb>=1.5.0
pyarrow>=23.0.1
matplotlib>=3.10.8
jupyterlab>=4.5.6
onnx>=1.20.1
onnxruntime>=1.24.4
skl2onnx>=1.20.0
polars>=1.39.2
